<h1>
  <%= @group.name %>
</h1>
<h1>
  <%= image_tag @group.picture, :width => "200", :height => "150" %>
</h1>

<% if @group.location.present? %>
  <p>
    <b>Location:</b>
    <%= @group.location %>
  </p>
<% end %>

<% if @group.description.present? %>
  <p>
    <b>Description:</b>
    <%= @group.description %>
  </p>
<% end %>

<h1><strong>Members</h1></strong>
<ul>
<% @group.members.each do |member| %>
  <li>
    <%= image_tag member.user.picture, :width => "150", :height => "100" %>
    <%= member.user.name %> 
  </li>
<% end %>
</ul>

<p>
<%= link_to 'Create new event', new_event_url(:group_id => @group.id) %>
</p>

<%= link_to 'Back', groups_path %>
