<h1>
  <%= @group.name %>
</h1>
<h1>
  <%= image_tag @group.picture, :width => "200", :height => "150" %>
</h1>

<% if @group.location.present? %>
  <p>
    <b>Location:</b>
    <%= @group.location %>
  </p>
<% end %>

<% if @group.Descriptionescription.present? %>
  <p>
    <b>Description:</b>
    <%= @group.description %>
  </p>
<% end %>


<%= link_to 'Back', groups_path %>
