<h1>
  <%= @group.name %>
</h1>
<h1>
  <%= image_tag @group.picture, :width => "200", :height => "150" %>
</h1>

<% if @group.location.present? %>
  <p>
    <b>Location:</b>
    <%= @group.location %>
  </p>
<% end %>

<% if @group.description.present? %>
  <p>
    <b>Description:</b>
    <%= @group.description %>
  </p>
<% end %>

<h1><strong>Members</h1></strong>
<ul>
<% @group.members.each do |member| %>
  <li>
    <%= image_tag member.user.avatar.url(:thumb) %>
    <%= link_to member.user.firstname, user_url(member.user_id) %> 
  </li>
<% end %>
</ul>


<p>
    <strong>Upcoming Game:</strong>
  <% if @upcoming_event.present? %>
    <br>
    <%= @upcoming_event.event_date.strftime("%B %d, %Y") %>
    <br>
    <%= @upcoming_event.location %>
  <% else %>
    <br>
    <strong>No events planned<strong>
  <% end %>
</p>
  <% if @group.events.present? %>
<strong>Upcoming Game Nights:</strong>
<ul>
  <% @group.events.each do |event| %>
    <li> 
      <%= link_to event.event_date.strftime("%B %d, %Y"), [@group, event] %>
    </li>
  <% end %>
</ul>
  <% end %>
<p>
<%= link_to 'Create new event', new_group_event_url(@group) %>
</p>

<%= link_to 'Back', groups_path %>


<% url = join_group_url(@group) %>
<%= form_for @group, :url => url, :method => 'put' do |f| %>
<%= f.submit "Join!" %>
<% end %>

<p>
  <strong> Messages </strong>
<ul>

<% @posts.each do |message| %>
  <li>
    <%= image_tag message.member.user.avatar.url(:thumb) %> <%= message.message %>
  </li>
<% end %>
<%= render 'inline_form' %>
</ul>
</p>
<br />
<% if @games.present? %>
<strong> Game Collections:</strong>
<ul>
  <% @games.each do |game| %>
    <li>
      <%= game.name %>
    </li>
  <% end %>
</ul>
<% end %>