<body class="users">
  <%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <header>
    <div class="logo-container"> 
      <h1 class="logo"><strong>play with us</strong> </h1>
      <h2 class="logo"><strong>Game Night Planner</strong></h2>
    </div>
  </header>
  <aside>
    <div class="add-image-container">
      Add your image:
      <%= f.file_field :avatar %>
    </div>
  </aside>
<div class="body-copy-container">
  <h2 class="page-headline"><strong>Create your player profile</strong></h2>
  <div class="form-container">
    <div class="email-password-container">
        <%= f.text_field :email,  placeholder: 'email address', class:"full-width-form"%> 
        <%= f.password_field :password, placeholder: 'password', class: "half-width-form", class: 'left-form'%> 
        <%= f.password_field :password_confirmation, placeholder: 'confirm password', class: "half-width-form", class: "right-form" %>
    </div>
    <div class="about-user-container">
        <%= f.text_field :firstname, placeholder: 'first name' %> 
        <%= f.text_field :lastname, placeholder: 'last name' %>
        <%= f.text_field :location, placeholder: 'location' %>  
    </div>
      <strong>Current games:</strong><br />
  <% @user.collections.each do |collection| %>
    <%= collection.game.name %>
  <% end %>

  Add New Game:
  <%= text_field_tag :new_game_name %> 
    <div class="actions">
      <%= f.submit %>
    </div>
      <% end %>
  </div>
</div>
</body>
