<p> 
 <%= image_tag @user.picture, :width => "200", :height => "150" %>
 <strong><font size = 10>
 	<%= @user.name %>
 </strong></font>
</p>

<p>
	<strong><%= link_to "Edit Profile", edit_user_path(@user) %></strong> 
</p>

<p align="center">
	<strong>
		Location: <%= @user.location %><br>
		<%= @user.email %><br>
	</strong>
</p>


<%= link_to 'Back', users_path %>
