<p> 
 <%= image_tag @user.avatar.url(:medium) %>
 <strong><font size = 10>
 	<%= @user.name %>
 </strong></font>
</p>

<p>
	<strong><%= link_to "Edit Profile", edit_user_path(@user) %></strong> 
</p>

<p align="center">
	<strong>
		Location: <%= @user.location %><br>
		<%= @user.email %><br>
	</strong>
</p>

<p>
	<strong> <%= @user.name%>'s Groups: </strong>
	<ul>
		<% @user.groups.each do |group| %>
		<li> <%= link_to group.name, group %> </li>	
		<% end %>
	</ul>
</p>


	<ul>
	<strong> <%= @user.name %>'s Games: </strong> 
	<% @user.collections.each do |collection| %>
		<li> 
			<%= collection.game.name %>
			<% if collection.favorite? %>
				<%= image_tag 'http://2.bp.blogspot.com/-Etryoufk04g/TbDrB9kJrOI/AAAAAAAACE8/uT5O0SJe9AU/s1600/one+star+review+star.jpg', :width => "25", :height => "25"%>
			<% end %>
		</li>
	<% end %>
	</ul>


<%= link_to 'Back', users_path %>
