<p> 
 <%= image_tag @user.avatar.url(:medium) %>
 <strong><font size = 10>
 	<%= @user.name %>
 </strong></font>
</p>

<p>
	<strong><%= link_to "Edit Profile", edit_user_path(@user) %></strong> 
</p>

<p align="center">
	<strong>
		Location: <%= @user.location %><br>
		<%= @user.email %><br>
	</strong>
</p>

<p>
	<strong> <%= @user.firstname%>'s Groups: </strong>
	<ul>
		<% @user.groups.each do |group| %>
		<li> <%= image_tag group.avatar(:thumb) %><%= link_to group.name, group %> </li>	
		<% end %>
	</ul>
</p>


	<ul>
	<strong> <%= @user.firstname %>'s Games: </strong> 
	<% @user.collections.each do |collection| %>
		<li> 
			<%= collection.game.name %>
			<% if collection.favorite? %>
				<%= image_tag 'http://2.bp.blogspot.com/-Etryoufk04g/TbDrB9kJrOI/AAAAAAAACE8/uT5O0SJe9AU/s1600/one+star+review+star.jpg', :width => "25", :height => "25"%>
			<% end %>
		</li>
	<% end %>
	</ul>

<strong>Your current invites:</strong>
<ul>
	<% @invites.each do |invite| %>
		<li>
				<%= link_to invite.group.name, invite.group %>
		</li>
	<% end %>
<ul>
<%= link_to 'Back', users_path %>

<strong> My List </strong>
<ul>
	<% if @snacks.present? %>
		<% @snacks.each do |snack| %>
			<li>
				<% unless snack.event.event_date < Date.today %>
					<%= snack.name %>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>

<% if @upcoming_event.present? %>
	<ul>
		<li> Upcoming Game: </li>
		<li> <%= @upcoming_event.event_date.strftime("%B %d, %Y") %> </li>
		<li> <%= @upcoming_event.event_time.strftime("%l %p") %> </li>
		<li> <%= @upcoming_event.location %>   </li>
	</ul>
<% end %>
