<h1>
	<%= @event.event_date.strftime("%B %d, %Y") %>
</h1>

<strong>Location</strong>
<p>
	<%= @event.location %>
</p>

<strong>Game Choice</strong>
<ul>
	<% @event.game_suggestions.each do |suggestion| %>
		<li>
			<%= suggestion.game.name %>
		</li>
	<% end %>
	<%= render 'inline_form' %>
</ul>


<strong> Can you attend? </strong>
<% url = ([@group, @event]) %>
<%= form_for @rsvp, :url => url, :method => 'post' do |f| %>
<%= f.submit "Yes, I'm coming" %>
<% end %>