<!DOCTYPE html>
<html>
<head>
  <title>Boardgame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="Stylesheet" href="/redmond/jquery-ui-1.9.2.custom.css" />
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] %>
	<nav>
		<%= link_to "Home", root_url %> |
		<%= link_to "Groups", groups_url %> |
		<%= link_to "Users", users_url %> |


		<% if current_user %>
            <%= link_to "Logout", logout_url %> |
            <%= link_to "My Profile", user_url(current_user.id) %>
          <% else %>
            <%= link_to "Sign Up", new_user_url %> |
            <%= link_to "Login", login_page_url %>
          <% end %>

<%= yield %>


</body>
</html>
